.compare-rate-show-area {
  margin-top: 50px;
  padding: 0 15px 0 15px;
}

.compare-rate-show-area p {
  font-weight: bold;
}

@media(min-width: 960px) {
  .compare-rate-show-area {
    padding: 0 150px 0 150px;
  }
}
